menu "user packages " 
config libgpiod  
	 bool "libgpiod"
	 help
	
config libgpiod-tools  
	 bool "libgpiod-tools"
	 help
	
config gpio-demo  
	 bool "gpio-demo"
	 help
	
config peekpoke  
	 bool "peekpoke"
	 help
	
config uptimeclock  
	 bool "uptimeclock"
	 help
	
endmenu
